<div class="swiper mySwiper ">
    <div class="swiper-wrapper carousel-marcas">
        <div class="swiper-slide"><img class="img-marcas" src="img/terranova-Logo.svg" alt=""></div>
        <div class="swiper-slide"><img class="img-marcas" src="img/calvinklein-Logo.svg" alt=""></div>
        <div class="swiper-slide"><img class="img-marcas" src="img/zara-Logo.svg" alt=""></div>
        <div class="swiper-slide"><img class="img-marcas" src="img/pullBear-Logo.svg" alt=""></div>
        <div class="swiper-slide"><img class="img-marcas" src="img/bershka-Logo.svg" alt=""></div>
        <div class="swiper-slide"><img class="img-marcas" src="img/forever-Logo.svg" alt=""></div>

    </div>
    <div class="swiper-button-next btn-siguiente"></div>
    <div class="swiper-button-prev btn-anterior"></div>

</div>