<div class="container-design">
    <div class="img-design">
        <img class="img-design1" src="img/anteojo-4.png" alt="">
        <img class="img-design2" src="img/anteojo-5.png" alt="">
    </div>

    <div class="containerDos">
        <img class="img-persona" src="img/persona.png" alt="">
        <div class="containerGetUnique">
            <h2>get unique and<br>elegent design.</h2>
            <h5>Lorem ipsum dolor sit amet. consectetur adipisicing elit. Nunc vulput Lorem ipsum dolor sit amet. consectetur adipisicing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. ate libero et velit inter</h5>
        </div>
    </div>
</div>

<div class="upcoming">
    <h2>upcoming collection</h2>
    <h4>Lorem ipsum dolor sit amet. consectetur adipisicing elit.Nunc vulput <br> Lorem ipsum dolor sit amet. consectetur adipisicing elit.</h5>
</div>
