<div class="section3">
    <div class="containersubt">
        <h2>unique and elegent style with</h2>
        <h2><span class="spanred">10+ features</span></h2>
    </div>

    <div class="uniqueDesign">
        <div class="containerCards">
            <div class="card-unique">
                <img src="img/textured-hinge.png" alt="">
                <h3>textured hinge</h3>
                <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                    closing
                    smoothly</h5>
            </div>

            <div class="card-unique">
                <img src="img/silicone-pads.png" alt="">
                <h3>silicone pads</h3>
                <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                    closing
                    smoothly</h5>
            </div>

            <div class="card-unique">
                <img src="img/individual-temples.png" alt="">
                <h3>individual temples</h3>
                <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                    closing
                    smoothly</h5>
            </div>

            <div class="card-unique">
                <img src="img/elegent-color.png" alt="">
                <h3>elegent color</h3>
                <h5>Fashion and lightness ch the inspiration <br> of metal design hinge. opening and <br>
                    closing
                    smoothly</h5>
            </div>  
        </div>
        <img class="imgPersondesign" src="img/uniquedesign.png" alt="">
    </div>

</div>